{
    // Extend existing configuration
    // from ESlint and eslint-plugin-react defaults.
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    // In order to use Babel features
    // you need to enable this custom parser
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "Promise": true,
        "DocumentTouch": true
    },
    // Enable custom plugin known as eslint-plugin-react
    "plugins": [
        "babel",
        "react"
    ],
    "rules": {
        // Disable `no-console` rule
        "no-console": 1,
        "no-alert": 2,
        "no-debugger": 2,
        // Give a warning if identifiers contain underscores
        "no-underscore-dangle": ["error", {
            "allow": ["__REDUX_DEVTOOLS_EXTENSION__"],
            "allowAfterThis": true,
            "allowAfterSuper": true
        }],
        // Default to single quotes and raise an error if something
        // else is used
        "quotes": [
            2,
            "single"
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2
            }
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/prop-types": [
            1,
            {
                "ignore": [
                    "children",
                    "dispatch",
                    "params"
                ]
            }
        ],
        "semi": [
            2,
            "never"
        ],
        "max-len": [
            0,
            180,
            2
        ],
        "generator-star-spacing": 0,
        "babel/generator-star-spacing": 1
    }
}
