.button {
    -webkit-appearance: none;
    border-radius: 3px;
    border: 1px $green solid;
    color: $green;
    background: $yellow;
    padding: 5px 10px;
}

.button--large {
    font-size: 16px;
}
