
.path {
    position: absolute;
    overflow: visible;
}

.path__fill {
    fill-opacity: 0;
}

.path__fill--available {
    fill-opacity: 1;
    fill: #3de5d9;
}

.path__fill--selected {
    fill-opacity: 1;
    fill: #C00;
}

.path__fill--validated {
    fill-opacity: 1;
    fill: #CC0;
}

.path__fill--validated-by-1 {
    fill: #c000cc;
}

.path__fill--validated-by-2 {
    fill: #02cc00;
}

.path__fill--validated-by-3 {
    fill: #0019cc;
}

.path__fill--validated-by-4 {
    fill: #8c7ecb;
}

.path__fill--validated-by-5 {
    fill: #cc7f00;
}

.path__fill--validated-by-6 {
    fill: #becc00;
}
