
.path {
    position: absolute;
    overflow: visible;
    z-index: $path-zindex;
}

.path__fill {
    fill-opacity: 0;
}

.path__fill--available {
    fill-opacity: 1;
    fill: #3de5d9;
}

.path__fill--selected {
    fill-opacity: 1;
    fill: #C00;
}

.path__fill--validated {
    fill-opacity: 1;
}

.path__fill--validated-by-1 {
    fill: $player-1-color;
}

.path__fill--validated-by-2 {
    fill: $player-2-color;
}

.path__fill--validated-by-3 {
    fill: $player-3-color;
}

.path__fill--validated-by-4 {
    fill: $player-4-color;
}

.path__fill--validated-by-5 {
    fill: $player-5-color;
}

.path__fill--validated-by-6 {
    fill: $player-6-color;
}

.path__fill--selected {
    animation-duration: 3s;
    animation-name: scales;
    animation-iteration-count: infinite;
    transform: scale(2.0);
    transform-origin: center;
}

@keyframes scales {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}
