$player-1-color: #c000cc;
$player-2-color: #02cc00;
$player-3-color: #0019cc;
$player-4-color: #8c7ecb;
$player-5-color: #cc7f00;
$player-6-color: #becc00;

$cell-zindex: 1;
$path-zindex: 2;
$cell-selected-zindex: 3;

$green: #038923;
$yellow: #ffcc19;

$directions: (top, right, bottom, left);
$spacing-unit: 10px;
