body {
    font-family: sans-serif;
    user-select: none;
}


.game-area {
    position: relative;
}


.cell {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;

}

.cell--selected {
    transform: scale(3);
    z-index: 2;
}

    .cell__fill {
        max-height: 100%;
        max-width: 100%;

        .cell--start & {
            fill: #000;
        }
    }

    .cell__border {
        visibility: hidden;
        fill: #fff;

        .cell--selected & {
            visibility: visible;
            fill: #ccc;
        }
    }

    .cell--selected .cell__border--available {
        visibility: visible;
        fill: #3de5d9;
    }

    .cell--selected .cell__border--selected {
        visibility: visible;
        fill: #2ca59c;
    }


.path {
    position: absolute;
    overflow: visible;
}

    .path__fill {
        fill-opacity: 0;
    }

    .path__fill--available {
        fill-opacity: 1;
        fill: #3de5d9;
    }

    .path__fill--selected {
        fill-opacity: 1;
        fill: #C00;
    }

    .path__fill--validated {
        fill-opacity: 1;
        fill: #CC0;
    }
