body {
    font-family: sans-serif;
    user-select: none;
}


.game-area {
    position: relative;
    height: 420px;
    width: 400px;
    margin: auto;
}


@import './variables';
@import './helpers';

@import './typography';
@import './button';

@import './cell';
@import './path';

@import './main-menu';
